{% extends 'layouts/base_presenter.html.twig' %}


{% block title %}Soumettre une demande{% endblock %}

{% block body %}
<main class="container mt-4">
    <h2>Soumettre une nouvelle demande de séminaire</h2>

    {{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}}) }}
        <div class="mb-3">
            {{ form_label(form.theme) }}
            {{ form_widget(form.theme, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.theme) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.resume) }}
            {{ form_widget(form.resume, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.resume) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.dateSouhaitee) }}
            {{ form_widget(form.dateSouhaitee, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.dateSouhaitee) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.fichier) }}
            {{ form_widget(form.fichier, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.fichier) }}
        </div>

        <button type="submit" class="btn btn-primary">Soumettre</button>
    {{ form_end(form) }}
</main>
{% endblock %}
